<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>foord-forms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ApplicationFormServlet</display-name>
    <servlet-name>ApplicationFormServlet</servlet-name>
    <servlet-class>servlet.ApplicationForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationFormServlet</servlet-name>
    <url-pattern>/ApplicationForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedemptionFormServlet</display-name>
    <servlet-name>RedemptionFormServlet</servlet-name>
    <servlet-class>servlet.RedemptionForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedemptionFormServlet</servlet-name>
    <url-pattern>/RedemptionForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwitchFormServlet</display-name>
    <servlet-name>SwitchFormServlet</servlet-name>
    <servlet-class>servlet.SwitchForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchFormServlet</servlet-name>
    <url-pattern>/SwitchForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopupFormServlet</display-name>
    <servlet-name>TopupFormServlet</servlet-name>
    <servlet-class>servlet.TopupForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopupFormServlet</servlet-name>
    <url-pattern>/TopupForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InternationalApplicationFormServlet</display-name>
    <servlet-name>InternationalApplicationFormServlet</servlet-name>
    <servlet-class>servlet.InternationalApplicationForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternationalApplicationFormServlet</servlet-name>
    <url-pattern>/InternationalApplicationForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InternationalTopupFormServlet</display-name>
    <servlet-name>InternationalTopupFormServlet</servlet-name>
    <servlet-class>servlet.InternationalTopupForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternationalTopupFormServlet</servlet-name>
    <url-pattern>/InternationalTopupForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InternationalRedemptionFormServlet</display-name>
    <servlet-name>InternationalRedemptionFormServlet</servlet-name>
    <servlet-class>servlet.InternationalRedemptionForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternationalRedemptionFormServlet</servlet-name>
    <url-pattern>/InternationalRedemptionForm</url-pattern>
  </servlet-mapping>
</web-app>